In [5]:
import pandas as pd

In [6]:
location = "./usdaeducation.xls"
df = pd.read_excel(location)
df.head()

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2013-17","High school diploma only, 2013-17","Some college or associate's degree, 2013-17","Bachelor's degree or higher, 2013-17","Percent of adults with less than a high school diploma, 2013-17","Percent of adults with a high school diploma only, 2013-17","Percent of adults completing some college or associate's degree, 2013-17","Percent of adults with a bachelor's degree or higher, 2013-17"
0,0,US,United States,NaN,NaN,NaN,NaN,52373312.0,34158051.0,11650730.0,...,27.4,24.4,27437114.0,59093612.0,62853315.0,66887603.0,12.7,27.3,29.1,30.9
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,25.9,19.0,481059.0,1012551.0,979449.0,803578.0,14.7,30.9,29.9,24.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,...,26.9,18.0,4521.0,12363.0,10697.0,9176.0,12.3,33.6,29.1,25.0
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,...,29.3,23.1,13997.0,39771.0,45286.0,43968.0,9.8,27.8,31.7,30.7
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,...,21.3,10.9,4960.0,6549.0,4707.0,2218.0,26.9,35.5,25.5,12.0

In [7]:
#creat new database with 3 states
df_states = df.iloc[[1, 106,122]]

In [8]:
df_states

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2013-17","High school diploma only, 2013-17","Some college or associate's degree, 2013-17","Bachelor's degree or higher, 2013-17","Percent of adults with less than a high school diploma, 2013-17","Percent of adults with a high school diploma only, 2013-17","Percent of adults completing some college or associate's degree, 2013-17","Percent of adults with a bachelor's degree or higher, 2013-17"
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,25.9,19.0,481059.0,1012551.0,979449.0,803578.0,14.7,30.9,29.9,24.5
106,4000,AZ,Arizona,NaN,NaN,NaN,NaN,383873.0,289781.0,127063.0,...,33.1,23.5,609649.0,1091339.0,1530530.0,1284657.0,13.5,24.2,33.9,28.4
122,5000,AR,Arkansas,NaN,NaN,NaN,NaN,635149.0,271150.0,80835.0,...,24.5,16.7,286117.0,681486.0,580739.0,437428.0,14.4,34.3,29.2,22.0

In [9]:
df_Edu_Level = df_states[['State','Percent of adults with less than a high school diploma, 2013-17','Percent of adults with a high school diploma only, 2013-17','Percent of adults completing some college or associate\'s degree, 2013-17','Percent of adults with a bachelor\'s degree or higher, 2013-17']]
df_Edu_Level

,State,"Percent of adults with less than a high school diploma, 2013-17","Percent of adults with a high school diploma only, 2013-17","Percent of adults completing some college or associate's degree, 2013-17","Percent of adults with a bachelor's degree or higher, 2013-17"
1,AL,14.7,30.9,29.9,24.5
106,AZ,13.5,24.2,33.9,28.4
122,AR,14.4,34.3,29.2,22.0

In [10]:
location = "./usdaunemployment.xls"
df_unemploy = pd.read_excel(location)
df_unemploy.head()

,FIPStxt,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Median_Household_Income_2017,Med_HH_Income_Percent_of_State_Total_2017
0,0,US,United States,NaN,NaN,NaN,152191093.0,145156134.0,7034959.0,4.6,...,158921892.0,151183680.0,7738212.0,4.9,160588515.0,153594100.0,6994415.0,4.4,60336.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2175612.0,2089127.0,86485.0,4.0,...,2173175.0,2045624.0,127551.0,5.9,2168444.0,2073106.0,95338.0,4.4,48193.0,100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,24383.0,23577.0,806.0,3.3,...,25918.0,24593.0,1325.0,5.1,25909.0,24908.0,1001.0,3.9,58343.0,121.1
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,82659.0,80099.0,2560.0,3.1,...,90500.0,85656.0,4844.0,5.4,91567.0,87915.0,3652.0,4.0,56607.0,117.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,10334.0,9684.0,650.0,6.3,...,8402.0,7700.0,702.0,8.4,8236.0,7750.0,486.0,5.9,32490.0,67.4

In [12]:
df_Unemploy_by_yr = df_unemploy[['FIPStxt','State','Unemployment_rate_2013','Unemployment_rate_2014','Unemployment_rate_2015','Unemployment_rate_2016','Unemployment_rate_2017']]
df_Unemploy_by_yr

,FIPStxt,State,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017
0,0,US,7.4,6.2,5.3,4.9,4.4
1,1000,AL,7.2,6.8,6.1,5.9,4.4
2,1001,AL,6.2,5.8,5.2,5.1,3.9
3,1003,AL,6.6,6.1,5.5,5.4,4.0
4,1005,AL,10.2,10.5,8.9,8.4,5.9
5,1007,AL,7.9,7.2,6.6,6.5,4.4
6,1009,AL,6.3,6.1,5.4,5.4,4.0
7,1011,AL,9.4,8.8,7.9,6.9,4.9
8,1013,AL,10.3,8.5,7.6,6.9,5.5
9,1015,AL,8.8,8.0,7.0,6.6,4.9
10,1017,AL,8.0,6.7,6.1,5.5,4.1
11,1019,AL,6.6,5.8,5.5,5.1,4.1
12,1021,AL,6.6,6.3,5.6,5.5,4.0
13,1023,AL,9.2,9.0,9.1,8.5,6.4
14,1025,AL,13.8,12.2,11.7,10.9,8.5
15,1027,AL,8.3,7.1,6.1,6.0,4.4
16,1029,AL,7.7,6.6,6.0,6.0,4.5
17,1031,AL,6.9,6.6,6.0,5.9,4.4
18,1033,AL,8.2,8.3,7.9,7.0,5.2
19,1035,AL,10.7,10.3,9.2,8.4,6.1
20,1037,AL,9.2,8.8,6.7,6.0,4.6
21,1039,AL,8.1,7.8,7.1,6.8,5.2
22,1041,AL,7.7,6.9,6.0,5.9,4.5
23,1043,AL,6.7,6.1,5.3,5.0,3.7
24,1045,AL,7.4,7.1,6.4,5.8,4.4
25,1047,AL,12.2,11.2,9.6,9.2,7.5
26,1049,AL,7.6,6.9,6.1,6.1,4.5
27,1051,AL,6.2,5.7,5.0,4.8,3.6
28,1053,AL,8.6,8.0,7.0,6.7,5.0
29,1055,AL,7.6,7.0,6.2,5.9,4.6
...,...,...,...,...,...,...,...
3245,72095,PR,21.6,21.4,18.5,18.4,17.1
3246,72097,PR,19.1,17.1,13.5,13.7,13.5
3247,72099,PR,19.8,18.5,15.6,15.6,14.8
3248,72101,PR,19.3,18.5,14.1,13.5,12.6
3249,72103,PR,16.3,15.2,13.2,12.3,11.2
3250,72105,PR,16.5,16.7,13.7,13.0,11.9
3251,72107,PR,18.7,19.0,16.3,15.5,14.4
3252,72109,PR,24.4,23.8,20.9,20.7,19.6
3253,72111,PR,20.5,21.1,17.5,16.7,17.5
3254,72113,PR,16.0,15.4,13.9,13.4,11.6
3255,72115,PR,18.9,18.5,16.8,16.0,15.8
3256,72117,PR,20.5,20.0,16.5,15.6,15.4
3257,72119,PR,11.8,11.9,10.4,10.5,9.7
3258,72121,PR,21.2,18.8,14.8,15.9,16.9
3259,72123,PR,26.0,26.4,24.2,21.7,19.1
3260,72125,PR,19.9,18.0,14.1,15.3,15.6
3261,72127,PR,8.0,8.1,7.6,7.9,6.9
3262,72129,PR,16.6,15.6,13.1,12.5,12.9
3263,72131,PR,23.8,23.2,19.9,18.9,17.7
3264,72133,PR,18.9,19.8,18.3,16.7,13.5
3265,72135,PR,9.3,9.2,8.4,8.3,7.8
3266,72137,PR,10.5,10.2,9.1,9.0,8.1
3267,72139,PR,7.6,7.8,7.0,7.2,5.9
3268,72141,PR,19.6,18.6,16.0,15.5,13.9
3269,72143,PR,14.1,13.8,11.7,11.5,10.8
3270,72145,PR,16.5,16.2,13.8,13.9,12.4
3271,72147,PR,15.9,14.0,11.3,10.6,13.7
3272,72149,PR,21.6,21.8,19.8,20.2,19.6
3273,72151,PR,23.9,21.8,17.5,16.9,16.4
3274,72153,PR,21.1,21.5,18.9,18.8,17.3

In [15]:
#creat new database with 3 states
df_states_unemploy = df_Unemploy_by_yr.iloc[[1, 102,118]]
df_states_unemploy

,FIPStxt,State,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017
1,1000,AL,7.2,6.8,6.1,5.9,4.4
102,4000,AZ,7.7,6.8,6.1,5.4,4.9
118,5000,AR,7.2,6.0,5.0,3.9,3.7

In [17]:
Col_Names=df_states_unemploy.iloc[:,2:]
# by putting a : at the begining, in [:] - it references the row

In [18]:
Col_Str=' + '.join(Col_Names)
Col_Str

'Unemployment_rate_2013 + Unemployment_rate_2014 + Unemployment_rate_2015 + Unemployment_rate_2016 + Unemployment_rate_2017'

In [19]:
df_states_unemploy['mean']=df_states_unemploy.eval(Col_Str)/len(df_states_unemploy.columns)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_states_unemploy.head()

,FIPStxt,State,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,mean
1,1000,AL,7.2,6.8,6.1,5.9,4.4,4.342857
102,4000,AZ,7.7,6.8,6.1,5.4,4.9,4.414286
118,5000,AR,7.2,6.0,5.0,3.9,3.7,3.685714